<div class="ui one column grid">
  <div class="column">
    <div class="ui fluid icon input">
      <input type="text" placeholder="First Name">
      <i class="users icon"></i>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid icon input">
      <input type="text" placeholder="Last Name">
      <i class="users icon"></i>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid icon input">
      <input type="text" placeholder="Telephone">
      <i class="users icon"></i>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid icon input">
      <input type="text" placeholder="Password">
      <i class="users icon"></i>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid icon input">
      <input type="text" placeholder="Repeat Password">
      <i class="users icon"></i>
    </div>
  </div>
  <div class="column">
    <button class="fluid large ui teal button">CREATE ACCOUNT</button>
  </div>
</div>
