<div class="ui masthead vertical segment">
  <h2 class="ui yellow center aligned icon header">Tracking Your Order </h2>
  <div class="ui container">
    <div class="ui divider"></div>
    <h3 class="ui block header">
      Estimated Time : 10 Minutes
    </h3>
    <h3 class="ui block header">
      Order Number : #12345
    </h3>
    <div class="ui divider"></div>
    <div class="ui four steps">
      <div class="completed step">
        <i class="truck icon"></i>
        <div class="content">
          <div class="title">Order Placed</div>
          <div class="description">We have received your order</div>
        </div>
      </div>
      <div class="active step">
        <i class="credit card icon"></i>
        <div class="content">
          <div class="title">Order Confirmed</div>
          <div class="description">Your order has been confirmed</div>
        </div>
      </div>
      <div class="disabled step">
        <i class="info icon"></i>
        <div class="content">
          <div class="title">Order Processed</div>
          <div class="description">We are preparing your order</div>
        </div>
      </div>
      <div class="disabled step">
        <i class="info icon"></i>
        <div class="content">
          <div class="title">Ready For PickUp</div>
          <div class="description">Come and pick your order at the cafeteria</div>
        </div>
      </div>
    </div>
  </div>
</div>


