
    <div class="ui two column centered grid">
      <div class="column aligned">
        <div class="ui teal normal label">Kind Of Drink : </div>
      </div>
      <div class="column">
        <select class="ui dropdown">
          <option value="1">Black Coffee</option>
          <option value="2">Green Tea</option>
        </select>
        <select class="ui dropdown">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
    </div>
    <div class="ui two column centered grid">
      <div class="column aligned">
        <div class="ui teal normal label">Kind Of Croissant : </div>
      </div>
      <div class="column">
        <select class="ui dropdown">
          <option value="1">Butter</option>
          <option value="2">Chocolate</option>
        </select>
        <select class="ui dropdown">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
    </div>
    <div class="ui two column centered grid">
      <div class="column aligned">
        <div class="ui teal normal label">PickUp time : </div>
      </div>
      <div class="column aligned">
        <div class="ui calendar">
          <div class="ui input left icon">
            <i class="time icon"></i>
            <input type="text" placeholder="Time">
          </div>
        </div>
      </div>
    </div>

