<div class="ui masthead vertical segment">
  <h2 class="ui yellow center aligned icon header">Menu Order </h2>
  <div class="ui container">
    <div class="ui divider"></div>
    <div class="ui two column centered grid">
      <div class="column">
        <img class="ui centered tiny image" src="../../assets/svg-files/drinks.svg">
      </div>
    </div>
    <div class="ui three column centered grid">
      <a routerLink="/drinks"><p class="text"> DRINKS MENU </p></a>
    </div>
    <div class="ui divider"></div>
    <div class="ui two column centered grid">
      <div class="column" >
        <img class="ui centered tiny image" src="../../assets/svg-files/bag_food.svg">
      </div>
    </div>
    <div class="ui three column centered grid">
      <a routerLink="/food"><p class="text"> FOOD MENU </p></a>
    </div>
    <div class="ui divider"></div>
  </div>
</div>


